



<nav class="nav nav-pills justify-content-center  navbar navbar-dark bg-primary" id="pills-tab"  role="tablist">
  <div class="border  border-warning mx-2 bg-warning" style="width:100px">
    <li class="nav-item">
    <a class="nav-item nav-link active text-center" href="#" [routerLink]="['/home']">Home</a>
  </li>
  </div>
  <div class="border border-warning mx-2  bg-warning" style="width:100px">
  <a class="nav-item nav-link active text-center" [routerLink]="['/tavole']">Tavole</a>
</div>
  <div class="border border-warning border-4  mx-2  bg-warning" style="width:100px ">
  <a class="nav-item nav-link active text-center" [routerLink]="['/menu']">Menu</a>
</div>
</nav>

<br><br>








<router-outlet></router-outlet>